small {
    font-size: 75%;
  }
  
  header {
    background-color: #ffffff;
    border: #B7B7A4 solid 3px;
  }
  
  .site-title {
    color: #B7B7A4;
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container li {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    color: cornsilk;
    box-sizing: border-box;
    background-color: #DDBEA9;
    list-style-type: none;
  }
  
  .nav-link {
    color: cornsilk;
    cursor: pointer;
  }
  
  .nav-link:hover {
    color: #b7b7a4;
  }